body {
    line-height: normal;

    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    position: relative;
    width: 100%;
    height: 90%;
  margin: auto;
  padding: 1px;
  min-width: 500px;
}
.header{    
    position: relative;
    width: 100%;
    margin:1;
}
.img1{
    margin-left: 2;
    margin-right: 2;
}
.img2{
    margin-right: 100px;
}
.img4{
    margin-right: 150px;
}
.img5{
    border-radius: 30px;
}
.middle{
display: flex;
}
.md-1{
    margin-right: 80px;
}
.md-1a{
    font-size: large;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

.md-1b,.md-1c {
    color: gray;
    margin: 0;
    padding: 0;
}

.md-1c{
    display: flex;
}
.md-2{
    margin-left: 100px;
}
.upnext,.autop{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.test{
    display: flex;
}
.btn{
    background-color: red;
    color: white;
    text-align:center;
    width: 200px;
   height: 30px; 
   float: right;
}
.mid{
    display: flex;
    justify-content: flex-end;
}
.mid-2{
    margin-left: 20px;
}
.mid-1{
    margin-right: 90px;
}
.md-1cii{
margin-left: 100px;
}
.md-1ciii{
    margin-left:  50px;
}
.md-1civ{
    margin-left: 50px;
}
.see{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}